.contact-top-section{
    display: flex;
    justify-content: space-between;
}

.contact-h2{
    max-width: 460px;
    width: 100%;
    line-height: 55px;
    padding-bottom: 4vh;
}

.contact-bread{
    max-width: 445px;
    width: 100%;
    line-height: 26px;
}

.contact-form-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-span{
    border-bottom: solid;
    border-width: 1px;
    opacity: 0.6;
}