/* HEADER & FOOTER STUFF*/
.logo {
  height: 23px;
  position: relative;
  left: -90px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  font-size: 18px;
  margin-left: 1vw;
  text-decoration: none;
  font-weight: bold;
}
a :hover {
  opacity: 0.5;
}

/*HEADER STUFF*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4vh;
  margin-bottom: 9vh;
}

/*FOOTER STUFF*/
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 9vh;
  margin-bottom: 4vh;
}

.awesomefont-img-links {
  margin-left: 3vw;
}

p {
  font-size: 16px;
  line-height: 26px;
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

.top-section {
  display: flex;
  justify-content: space-between;
}

.project-h2 {
  max-width: 495px;
  width: 100%;
  line-height: 55px;
}

.project-bread {
  margin-top: 3vh;
  margin-bottom: 2vh;
  max-width: 635px;
  width: 100%;
  opacity: 0.8;
}

.three-img-section {
  display: flex;
  justify-content: space-between;
}

section {
  margin-bottom: 4vh;
}

body {
  max-width: 1109px;
  font-family: "Mulish", sans-serif;
  color: rgb(17, 17, 17);
}

a {
  color: rgb(17, 17, 17);
}